:root{
  --dark-black:#000000;
  --regular-black:#0a0a0a;
  --nero-black:#222222;
  --slate-grey:#333333;
  --grey25:#404040;
  --dim-grey:#636363;
  --gainsboro-grey:#dddddd;
  --light-grey:#e1e1e1;
  --site-white:#ffffff;
  --site-whitesmoke:#f7f7f7;
  --site-whitesmoke-dark:#f5f5f5;
  --site-snow:#fbfbfb;
  --site-gold:#ffe10b;
  --site-medium-gold:#ffe30b;
}

/*Contact container holding text on the left and a form on the right*/
.contact-container{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 6rem auto;
}

/*Contact text on the left side*/
.contact-text-container{
  width: 33%;
}

.contact-title{
  font-size: 3.7rem;
  letter-spacing: .05rem;
  line-height: 3.85rem;
}

.contact-title::after{
  content: '';
  display: block;
  width: 35%;
  border-bottom: solid var(--slate-grey) 2.5px;
  margin: 2.5rem 0 1.5rem 0;
}

.contact-text{
  font-size: .97rem;
  line-height: 1.65rem;
  margin-bottom: 1.25rem;
}

/*Contact form on the right side*/
.contact-form{
  display: grid;
  grid-template-areas:
  'name name'
  'email phone'
  'message message'
  'submit-button submit-button';
  width: 55%;
  margin-top: 1rem;
}

.form-input{
  margin: 0 1rem 1rem 0;
  padding: .75rem 0 .75rem .5rem;
  background-color: var(--site-whitesmoke-dark);
  border: solid var(--grey25) thin;
}

/*Assign inputs to grid areas*/
.name{
  grid-area: name;
}

.email{
  grid-area: email;
}

.phone{
  grid-area: phone;
}

.message{
  grid-area: message;
  padding: .75rem 0 10rem .5rem;
  background-color: var(--site-whitesmoke-dark);
  border: solid var(--grey25) thin;
}

.submit-button{
  font-size: .9rem;
  grid-area: submit-button;
  width: 25%;
  margin: 2rem auto 0 auto;
  padding: .75rem 0;
  background-color: var(--grey25);
  color: var(--site-white);
  border: solid var(--grey25) thin;
  border-radius: 4px;
}

@media(max-width:945px){
  /*Contact container holding text on the left and a form on the right*/
  .contact-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    
  }

  /*Contact text at the top*/
  .contact-text-container{
    width: 100%;
  }

  /*Contact form on the right side*/
  .contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3rem auto 0 auto;
  }

  .contact-title{
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .contact-title::after{
    width: 25%;
    margin: 1.5rem 0 1.5rem 0;
  }

  .contact-text{
    font-size: .95rem;
    line-height: 1.45rem;
  }

}

@media(max-width:414px){
  .message{
    width: 96%;
  }

  .submit-button{
    padding: .5rem 0;
    width: 50%;
  }
}