:root{
  --dark-black:#000000;
  --regular-black:#0a0a0a;
  --nero-black:#222222;
  --slate-grey:#333333;
  --grey25:#404040;
  --dim-grey:#636363;
  --gainsboro-grey:#dddddd;
  --light-grey:#e1e1e1;
  --site-white:#ffffff;
  --site-whitesmoke:#f7f7f7;
  --site-whitesmoke-dark:#f5f5f5;
  --site-snow:#fbfbfb;
  --site-gold:#ffe10b;
  --site-medium-gold:#ffe30b;
}

.page-title{
  color: var(--nero-black);
  font-size: 2.75rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 6rem 0 2.5rem 0;
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
}

.page-title::after{
  content: "";
  width: 20%;
  margin: 0 auto;
  display: block;
  border-bottom: solid var(--site-gold) thin;
  padding-top: 2.5rem;
}

.page-subtitle{
  color: var(--nero-black);
  font-size: 1.55rem;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  letter-spacing: .05rem;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  line-height: 2.2rem;
}

/*Container holding a delivery image on the left and delivery text info on the right*/
.delivery-description-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 3rem auto;
}

.delivery-image-container{
  height: 60vh;
  width: 35%
}

.delivery-image{
  height: 100%;
  width: 100%;
}

.delivery-text-container{
  display: flex;
  flex-direction: column;
  width: 58%;
}

.delivery-text-title{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.75rem;
}

.delivery-text{
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/*Span making the font darker*/
.delivery-bold-text{
  font-size: 1rem;
  font-weight: 800;
}

/*Text above the delivery form*/
.delivery-form-title{
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  width: 70%;
  margin: 0 auto;
}

.delivery-form{
  display: grid;
  grid-template-areas: 
  'name email'
  'subject phone'
  'message message'
  'submit-button submit-button';
  width: 80%;
  margin: 3rem auto;
}

.form-input{
  margin: 0 1rem 1rem 0;
  padding: .85rem 0 .85rem .5rem;
  background-color: var(--site-whitesmoke-dark);
  border: solid var(--grey25) thin;
  
}

/*Assign inputs to grid areas*/
.name{
  grid-area: name;
}

.email{
  grid-area: email;
}

.subject{
  grid-area: subject;
}

.phone{
  grid-area: phone;
}

.message{
  grid-area: message;
  padding: .75rem 0 10rem .5rem;
  background-color: var(--site-whitesmoke-dark);
  border: solid var(--grey25) thin;
}

.submit-button{
  font-size: .9rem;
  grid-area: submit-button;
  width: 12%;
  margin: 2rem auto 0 auto;
  padding: 1rem 0;
  background-color: var(--grey25);
  color: var(--site-white);
  border: solid var(--grey25) thin;
  border-radius: 4px;
}

@media(max-width:1115px){
  .delivery-image-container{
    height:50vh;
  }

}

@media(max-width:850px){
  /*Decreased the font size and increased the line height*/
  .page-title{
    font-size: 2rem;
    line-height: 2.3rem;
    margin: 6rem auto 1.5rem auto;
  }

  .page-title::after{
    padding-top: 1.5rem;
  }

  .page-subtitle{
    width: 80%;
    margin: 0 auto;
    font-size: 1.45rem;
    line-height: 1.6rem;
  }

  /*Container holding a delivery image on the left and delivery text info on the right*/
  .delivery-description-container{
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  /*Holds the form label and form input together for each field*/
  .delivery-form-group{
    margin: .5rem 0;
  }
  
  .delivery-image-container{
    height: 60vh;
    width: 80%;
    margin: 0 auto;
  }
  
  .delivery-text-container{
    width: 100%;
    margin: 0 auto;
  }

  /*Text above the delivery form*/
  .delivery-form-title{
    display: none;
  }

  .delivery-form{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:540px){
  /*Decreased the font size and increased the line height*/
  .page-title{
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .page-title::after{
    padding-top: 1rem;
  }
  
  .page-subtitle{
    width: 80%;
    margin: 0 auto;
    font-size: 1.35rem;
    line-height: 1.6rem;
  }
}

@media(max-width:414px){
  .delivery-image-container{
    height: 30vh;
    width: 80%;
    margin: 0 auto;
  }

  .delivery-text-title{
    font-size: 1.1rem;
    margin-bottom: 1.75rem;
  }
  
  .delivery-text{
    font-size: .9rem;
    margin-bottom: 1.5rem;
  }
}

@media(max-width:414px){
  .message{
    width: 96%;
  }

  .submit-button{
    padding: .5rem 0;
    width: 50%;
  }
}